Proyecto2_201602713_201612216/Cliente/src/META-INF/wsdl/localhost_8080/Servidor/WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ServiciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ServiciosWeb/" name="WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ServiciosWeb/" schemaLocation="http://localhost:8080/Servidor/WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="Graficar_Prod">
<part name="parameters" element="tns:Graficar_Prod"/>
</message>
<message name="Graficar_ProdResponse">
<part name="parameters" element="tns:Graficar_ProdResponse"/>
</message>
<message name="Cargar_Productos">
<part name="parameters" element="tns:Cargar_Productos"/>
</message>
<message name="Cargar_ProductosResponse">
<part name="parameters" element="tns:Cargar_ProductosResponse"/>
</message>
<message name="InicioSesion">
<part name="parameters" element="tns:InicioSesion"/>
</message>
<message name="InicioSesionResponse">
<part name="parameters" element="tns:InicioSesionResponse"/>
</message>
<message name="Cargar_Usuarios">
<part name="parameters" element="tns:Cargar_Usuarios"/>
</message>
<message name="Cargar_UsuariosResponse">
<part name="parameters" element="tns:Cargar_UsuariosResponse"/>
</message>
<message name="Cargar_Carrito">
<part name="parameters" element="tns:Cargar_Carrito"/>
</message>
<message name="Cargar_CarritoResponse">
<part name="parameters" element="tns:Cargar_CarritoResponse"/>
</message>
<message name="Cargar_PorComprar">
<part name="parameters" element="tns:Cargar_PorComprar"/>
</message>
<message name="Cargar_PorComprarResponse">
<part name="parameters" element="tns:Cargar_PorComprarResponse"/>
</message>
<message name="Cargar_Direcciones">
<part name="parameters" element="tns:Cargar_Direcciones"/>
</message>
<message name="Cargar_DireccionesResponse">
<part name="parameters" element="tns:Cargar_DireccionesResponse"/>
</message>
<message name="Graficar_Usu">
<part name="parameters" element="tns:Graficar_Usu"/>
</message>
<message name="Graficar_UsuResponse">
<part name="parameters" element="tns:Graficar_UsuResponse"/>
</message>
<portType name="ServiciosWeb1">
<operation name="Graficar_Prod">
<input wsam:Action="http://ServiciosWeb/ServiciosWeb1/Graficar_ProdRequest" message="tns:Graficar_Prod"/>
<output wsam:Action="http://ServiciosWeb/ServiciosWeb1/Graficar_ProdResponse" message="tns:Graficar_ProdResponse"/>
</operation>
<operation name="Cargar_Productos">
<input wsam:Action="http://ServiciosWeb/ServiciosWeb1/Cargar_ProductosRequest" message="tns:Cargar_Productos"/>
<output wsam:Action="http://ServiciosWeb/ServiciosWeb1/Cargar_ProductosResponse" message="tns:Cargar_ProductosResponse"/>
</operation>
<operation name="InicioSesion">
<input wsam:Action="http://ServiciosWeb/ServiciosWeb1/InicioSesionRequest" message="tns:InicioSesion"/>
<output wsam:Action="http://ServiciosWeb/ServiciosWeb1/InicioSesionResponse" message="tns:InicioSesionResponse"/>
</operation>
<operation name="Cargar_Usuarios">
<input wsam:Action="http://ServiciosWeb/ServiciosWeb1/Cargar_UsuariosRequest" message="tns:Cargar_Usuarios"/>
<output wsam:Action="http://ServiciosWeb/ServiciosWeb1/Cargar_UsuariosResponse" message="tns:Cargar_UsuariosResponse"/>
</operation>
<operation name="Cargar_Carrito">
<input wsam:Action="http://ServiciosWeb/ServiciosWeb1/Cargar_CarritoRequest" message="tns:Cargar_Carrito"/>
<output wsam:Action="http://ServiciosWeb/ServiciosWeb1/Cargar_CarritoResponse" message="tns:Cargar_CarritoResponse"/>
</operation>
<operation name="Cargar_PorComprar">
<input wsam:Action="http://ServiciosWeb/ServiciosWeb1/Cargar_PorComprarRequest" message="tns:Cargar_PorComprar"/>
<output wsam:Action="http://ServiciosWeb/ServiciosWeb1/Cargar_PorComprarResponse" message="tns:Cargar_PorComprarResponse"/>
</operation>
<operation name="Cargar_Direcciones">
<input wsam:Action="http://ServiciosWeb/ServiciosWeb1/Cargar_DireccionesRequest" message="tns:Cargar_Direcciones"/>
<output wsam:Action="http://ServiciosWeb/ServiciosWeb1/Cargar_DireccionesResponse" message="tns:Cargar_DireccionesResponse"/>
</operation>
<operation name="Graficar_Usu">
<input wsam:Action="http://ServiciosWeb/ServiciosWeb1/Graficar_UsuRequest" message="tns:Graficar_Usu"/>
<output wsam:Action="http://ServiciosWeb/ServiciosWeb1/Graficar_UsuResponse" message="tns:Graficar_UsuResponse"/>
</operation>
</portType>
<binding name="ServiciosWeb1PortBinding" type="tns:ServiciosWeb1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Graficar_Prod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cargar_Productos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InicioSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cargar_Usuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cargar_Carrito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cargar_PorComprar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cargar_Direcciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Graficar_Usu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebService">
<port name="ServiciosWeb1Port" binding="tns:ServiciosWeb1PortBinding">
<soap:address location="http://localhost:8080/Servidor/WebService"/>
</port>
</service>
</definitions>